.login-credentials-wrapper {
	width: 75%;
	max-width: 420px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
    align-items: center;
}

.login-credentials-logo-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2vh;
}

.login-credentials-header, ion-toolbar{
   font-family: 'Krona One', sans-serif;
   display: flex;
   padding: 1rem;
   font-size: 2rem;
   color: #502771;
}

.login-credentials-form {
	background: transparent;
}



.login-credentials-form ion-item {
	--background: transparent;
	border-radius: 12px;
}

.box-label{
    font-family: 'Krona One';
    font-size: 0.7rem;
    color: rgba(255, 255, 255, 0.75);
}

.login-credentials-error {
	text-align: center;
	font-size: 0.875rem;
}

.login-credentials-forgot {
	align-self: flex-end;
	margin-top: -0.5rem;
}

ion-button.login-credentials-forgot::part(native) {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  color: rgba(255, 255, 255, 0.75) !important;
  text-transform: none;
  font-family: 'Krona One', sans-serif;
}

.login-credentials-divider {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	font-size: 0.75rem;
	color: var(--ion-color-medium);
	letter-spacing: 0.08em;
    font-family: 'Krona One';
    opacity: 60%;
}

.login-credentials-divider span {
	flex: 1;
	height: 1px;
	background-color: rgba(0, 0, 0, 0.1);
}

.login-credentials-social {
	display: flex;
	gap: 0.75rem;
}

.login-credentials-form .native-input{
	width: 100%;
	padding: 10px 8px;
	font-size: 1rem;
	border-radius: 8px;
	border: none;
	background: #280D62;
	outline: none;
}

.login-credentials-form .native-input input {
    color: #fff;
}


.login-credentials-form .native-input::placeholder {
	color: rgba(255, 255, 255, 0.10);
}

.default-button button{
  height: 2.8rem;
  padding: 0 rem;
  padding: 0 7.5rem;
}

/* smaller screens spacing */
@media (max-width: 420px) {
	.login-credentials-wrapper { padding: 0 12px; }
}
